@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<br />
<br />
<br />
<br />
<center>

    <section id="abouts" class="abouts">
        <div class="container">
            <div class="row">
                <div class="abouts_content">
                    <h1>@ViewData["Title"]</h1>
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
