@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="slider" class="slider">
    <div class="slider_overlay">
        <div class="container">
            <div class="row">
                <div class="main_slider text-center">
                    <div class="col-md-12">
                        <div class="main_slider_content wow zoomIn" data-wow-duration="1s">
                            <h1>Asados Y Comidas Rápidas EMI</h1>
                            <p>Deliciosos platos de Comidas Rápidas y más... </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="abouts" class="abouts">
    <div class="container">
        <div class="row">
            <div class="abouts_content">
                <div class="col-md-6">
                    <div class="single_abouts_text text-center wow slideInLeft" data-wow-duration="1s">
                        <img src="~/lib/Template/images/ab.png" />

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="single_abouts_text wow slideInRight" data-wow-duration="1s">
                        <h4>Sobre nosotros</h4>
                        <h3>Nosotros somos sabrosos</h3>
                        <p>En nuestro restaurante puedes elegir que comer de nuestra carta o armar los producto a tu gusto. </p>

                        <p>Somos Un Restaurante dedicado a regalarte la mejor de las experiencias con nuestros platos. </p>

                        <a href="" class="btn btn-primary">Click Aquí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="features">
    <div class="slider_overlay">
        <div class="container">
            <div class="row">
                <div class="main_features_content_area  wow fadeIn" data-wow-duration="3s">
                    <div class="col-md-12">
                        <div class="main_features_content text-left">
                            <div class="col-md-6">
                                <div class="single_features_text">
                                    <h4>Plato Especial Y Más Vendido</h4>
                                    <h3>Picada de Carnes</h3>
                                    <p>
                                        Las mas apetecida por todos nuestros clientes
                                        y Una de las mejores por supuesto.
                                    </p>
                                    <p>Este delicioso plato contiene los mejores ingredientes de la casa.
                                    Antojate y Disfruta</p>

                                    <a href="" class="btn btn-primary">Click Aquí</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="portfolio">

    <div class="container">
        <div class="row">
            <div class="portfolio_content text-center  wow fadeIn" data-wow-duration="5s">
                <div class="col-md-12">
                    <div class="head_title text-center">
                        <h4>Experiencia</h4>
                        <h3>Encantadora</h3>
                    </div>

                    <div class="main_portfolio_content">
                        <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                            <img src="~/lib/Template/images/p1.png" alt="" />
                            <div class="portfolio_images_overlay text-center">
                                <h6>Mandi Coctel</h6>
                                <p class="product_price">$3.000</p>
                                <a href="" class="btn btn-primary">LO QUIERO</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                            <img src="~/lib/Template/images/p2.png" alt="" />
                            <div class="portfolio_images_overlay text-center">
                                <h6>Platano Maduro Con queso</h6>
                                <p class="product_price">$7.000</p>
                                <a href="" class="btn btn-primary">LO QUIERO</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                            <img src="~/lib/Template/images/p3.png" alt="" />
                            <div class="portfolio_images_overlay text-center">
                                <h6>Consejo de la Semana</h6>
                                <p class="product_price">$0</p>
                                <a href="" class="btn btn-primary">LO QUIERO</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                            <img src="~/lib/Template/images/p4.png" alt="" />
                            <div class="portfolio_images_overlay text-center">
                                <h6>Mandi Huevo/h6>
                                <p class="product_price">$3.000</p>
                                <a href="" class="btn btn-primary">LO QUIERO</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                            <img src="~/lib/Template/images/p5.png" alt="" />
                            <div class="portfolio_images_overlay text-center">
                                <h6>Super Hamburguesa Especial</h6>
                                <p class="product_price">$15.000</p>
                                <a href="" class="btn btn-primary">LO QUIERO</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                            <img src="~/lib/Template/images/p6.png" alt="" />
                            <div class="portfolio_images_overlay text-center">
                                <h6>Mega Ramo Especial De Hamburguesas</h6>
                                <p class="product_price">$50.000</p>
                                <a href="" class="btn btn-primary">LO QUIERO</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                            <img src="~/lib/Template/images/p7.png" alt="" />
                            <div class="portfolio_images_overlay text-center">
                                <h6>Tacos de la Casa</h6>
                                <p class="product_price">$12.000</p>
                                <a href="" class="btn btn-primary">LO QUIERO</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6 single_portfolio_text">
                            <img src="~/lib/Template/images/p8.png" alt="" />
                            <div class="portfolio_images_overlay text-center">
                                <h6>Chori ó Longui Super Especial</h6>
                                <p class="product_price">$10.000</p>
                                <a href="" class="btn btn-primary">LO QUIERO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ourPakeg" class="ourPakeg">
    <div class="container">
        <div class="main_pakeg_content">
            <div class="row">
                <div class="head_title text-center">
                    <h4>Asombroso</h4>
                    <h3>Delicioso</h3>
                </div>

                <div class="single_pakeg_one text-right wow rotateInDownRight">
                    <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4">
                        <div class="single_pakeg_text">
                            <div class="pakeg_title">
                                <h4>Bebidas</h4>
                            </div>

                            <ul>
                                <li> Vino Tinto Cabernet Merlot Gato Negro................................$42.200 </li>
                                <li> Vino Espumoso........................................................$48.900</li>
                                <li> Vino Tinto Cabernet Casillero Sauvignon..............................$61.000 </li>
                                <li> Vino Blanco Frontera.................................................$41.500 </li>
                                <li> Vino Sauvignon Blanco Maipo..........................................$72.800 </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="single_pakeg_two text-left wow rotateInDownLeft">
                    <div class="col-md-6 col-sm-8">
                        <div class="single_pakeg_text">
                            <div class="pakeg_title">
                                <h4>Menú Principal</h4>
                            </div>

                            <ul>
                                <li> Asado de Punta de Anca................................................$18.000</li>
                                <li> Asado de Cerdo........................................................$15.000 </li>
                                <li> Chuzos De Pollo.......................................................$17.000</li>
                                <li> Picada De Carnes......................................................$18.000 </li>
                                <li> Chori o Longui Especial...............................................$10.000 </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="single_pakeg_three text-left wow rotateInDownRight">
                    <div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4">
                        <div class="single_pakeg_text">
                            <div class="pakeg_title">
                                <h4>Postres</h4>
                            </div>

                            <ul>
                                <li> Counlat De Chocolate...................................................$7.000 </li>
                                <li> Brownie de Nueces......................................................$7.000 </li>
                                <li> Crema de chocolate y Mascarpone........................................$9.000 </li>
                                <li> Mousse de Limon........................................................$6.000</li>
                                <li> Yogurt Con Arandanos...................................................$8.000</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="mobaileapps" class="mobailapps">
    <div class="slider_overlay">
        <div class="container">
            <div class="row">
                <div class="main_mobail_apps_content wow zoomIn">
                    <div class="col-md-5 col-sm-12 text-center">
                        <img src="~/lib/Template/images/iphone.png" alt="" />
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <div class="single_monail_apps_text">
                            <h4> Felices de Anunciar </h4>
                            <h1>Proximamente Aplicación <span>Estará disponible en todas las plataformas OS.</span></h1>

                            <a href=""><img src="~/lib/Template/images/google.png" alt="" /></a>
                            <a href=""><img src="~/lib/Template/images/apps.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
